In [160]:
import pandas as pd
import numpy as np

## Data Frames

In [161]:
forum_users={
    'User_ID': np.array([1,2,3,4,5]),
    'Username': ['vlad_g','marina_76','vadim_95','emma_09','vasilii_51'],
    'Age': [48,48,29,15,73],
    'Joined Date': pd.to_datetime(['2020-02-22','2021-09-17','2021-05-05','2019-11-10','2021-07-11']),
    'Total Posts': [100,245,303,789,120],
    'Reputation': [500,789,656,769,590],
}

df = pd.DataFrame(forum_users)
df

   User_ID    Username  Age Joined Date  Total Posts  Reputation
0        1      vlad_g   48  2020-02-22          100         500
1        2   marina_76   48  2021-09-17          245         789
2        3    vadim_95   29  2021-05-05          303         656
3        4     emma_09   15  2019-11-10          789         769
4        5  vasilii_51   73  2021-07-11          120         590

In [162]:
df.shape

(5, 6)

In [163]:
type(df)

pandas.core.frame.DataFrame

In [164]:
df.columns

Index(['User_ID', 'Username', 'Age', 'Joined Date', 'Total Posts',
       'Reputation'],
      dtype='object')

In [165]:
type(df.columns)

pandas.core.indexes.base.Index

In [166]:
df.columns.tolist()

['User_ID', 'Username', 'Age', 'Joined Date', 'Total Posts', 'Reputation']

In [167]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [168]:
df.index.tolist()

[0, 1, 2, 3, 4]

In [169]:
df.dtypes

User_ID                 int64
Username               object
Age                     int64
Joined Date    datetime64[ns]
Total Posts             int64
Reputation              int64
dtype: object

In [170]:
df.values

array([[1, 'vlad_g', 48, Timestamp('2020-02-22 00:00:00'), 100, 500],
       [2, 'marina_76', 48, Timestamp('2021-09-17 00:00:00'), 245, 789],
       [3, 'vadim_95', 29, Timestamp('2021-05-05 00:00:00'), 303, 656],
       [4, 'emma_09', 15, Timestamp('2019-11-10 00:00:00'), 789, 769],
       [5, 'vasilii_51', 73, Timestamp('2021-07-11 00:00:00'), 120, 590]],
      dtype=object)

In [171]:
type(df.values)

numpy.ndarray

In [172]:
df.head(2)

   User_ID   Username  Age Joined Date  Total Posts  Reputation
0        1     vlad_g   48  2020-02-22          100         500
1        2  marina_76   48  2021-09-17          245         789

In [173]:
df.describe().round()

       User_ID   Age          Joined Date  Total Posts  Reputation
count      5.0   5.0                    5          5.0         5.0
mean       3.0  43.0  2020-11-30 09:36:00        311.0       661.0
min        1.0  15.0  2019-11-10 00:00:00        100.0       500.0
25%        2.0  29.0  2020-02-22 00:00:00        120.0       590.0
50%        3.0  48.0  2021-05-05 00:00:00        245.0       656.0
75%        4.0  48.0  2021-07-11 00:00:00        303.0       769.0
max        5.0  73.0  2021-09-17 00:00:00        789.0       789.0
std        2.0  22.0                  NaN        280.0       121.0

In [174]:
df.select_dtypes(include='object')

     Username
0      vlad_g
1   marina_76
2    vadim_95
3     emma_09
4  vasilii_51

In [175]:
df.select_dtypes(include='object').columns

Index(['Username'], dtype='object')

In [176]:
df.select_dtypes(include='int64')

   User_ID  Age  Total Posts  Reputation
0        1   48          100         500
1        2   48          245         789
2        3   29          303         656
3        4   15          789         769
4        5   73          120         590

In [177]:
df.isna()

   User_ID  Username    Age  Joined Date  Total Posts  Reputation
0    False     False  False        False        False       False
1    False     False  False        False        False       False
2    False     False  False        False        False       False
3    False     False  False        False        False       False
4    False     False  False        False        False       False

In [178]:
df.isna().sum()

User_ID        0
Username       0
Age            0
Joined Date    0
Total Posts    0
Reputation     0
dtype: int64

## Series

In [186]:
username_series=df['Username']
username_series

0        vlad_g
1     marina_76
2      vadim_95
3       emma_09
4    vasilii_51
Name: Username, dtype: object

In [187]:
type(username_series)

pandas.core.series.Series

In [188]:
username_series.values

array(['vlad_g', 'marina_76', 'vadim_95', 'emma_09', 'vasilii_51'],
      dtype=object)

In [189]:
type(username_series.values)

numpy.ndarray

In [190]:
username_series.index

RangeIndex(start=0, stop=5, step=1)

In [193]:
df['Reputation'].value_counts()

Reputation
500    1
789    1
656    1
769    1
590    1
Name: count, dtype: int64

In [194]:
df['Reputation'].value_counts(ascending=True)

Reputation
500    1
789    1
656    1
769    1
590    1
Name: count, dtype: int64

In [195]:
df['Reputation'].unique()

array([500, 789, 656, 769, 590])

In [196]:
df['Username'].sort_values()

3       emma_09
1     marina_76
2      vadim_95
4    vasilii_51
0        vlad_g
Name: Username, dtype: object

In [198]:
df['Username'].sort_values(ascending=False)

0        vlad_g
4    vasilii_51
2      vadim_95
1     marina_76
3       emma_09
Name: Username, dtype: object