In [4]:
import pandas as pd

In [7]:
forum_users={
    'User_ID': [1,2,3,4,5],
    'Username': ['vlad_g','marina_76','vadim_95','emma_09','vasilii_51'],
    'Age': [48,48,29,15,73],
    'Joined Date': ['02.11.2020','22.02.2020','12.10.2021','09.04.2019','17.01.2021'],
    'Total Posts': [100,245,303,789,120],
    'Reputation': [500,789,656,769,590],
}

df = pd.DataFrame(forum_users)
df

   User_ID    Username  Age Joined Date  Total Posts  Reputation
0        1      vlad_g   48  02.11.2020          100         500
1        2   marina_76   48  22.02.2020          245         789
2        3    vadim_95   29  12.10.2021          303         656
3        4     emma_09   15  09.04.2019          789         769
4        5  vasilii_51   73  17.01.2021          120         590

In [8]:
df.shape

(5, 6)

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.columns

Index(['User_ID', 'Username', 'Age', 'Joined Date', 'Total Posts',
       'Reputation'],
      dtype='object')

In [14]:
type(df.columns)

pandas.core.indexes.base.Index

In [12]:
df.columns.tolist()

['User_ID', 'Username', 'Age', 'Joined Date', 'Total Posts', 'Reputation']

In [15]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
df.index.tolist()

[0, 1, 2, 3, 4]

In [17]:
df.dtypes

User_ID         int64
Username       object
Age             int64
Joined Date    object
Total Posts     int64
Reputation      int64
dtype: object

In [18]:
df.values

array([[1, 'vlad_g', 48, '02.11.2020', 100, 500],
       [2, 'marina_76', 48, '22.02.2020', 245, 789],
       [3, 'vadim_95', 29, '12.10.2021', 303, 656],
       [4, 'emma_09', 15, '09.04.2019', 789, 769],
       [5, 'vasilii_51', 73, '17.01.2021', 120, 590]], dtype=object)

In [19]:
type(df.values)

numpy.ndarray

In [21]:
df.head(2)

   User_ID   Username  Age Joined Date  Total Posts  Reputation
0        1     vlad_g   48  02.11.2020          100         500
1        2  marina_76   48  22.02.2020          245         789