In [18]:
import pandas as pd
import numpy as np

In [19]:
np.random.seed(1)
n=1000
dates=pd.date_range(start='2025-01-25',periods=n,freq='D')
products=np.random.choice(['Tablet','Camera','Phone'],n)
prices=np.round(np.random.uniform(50.0,200.0,n),2)
quatities=np.random.randint(1,15,n)

data= {
    'Data':dates,
    'Products':products,
    'Price': prices,
    'Quantities':quatities
}

df=pd.DataFrame(data)
df.head()

        Data Products   Price  Quantities
0 2025-01-25   Camera  129.19           4
1 2025-01-26   Tablet  161.01          13
2 2025-01-27   Tablet   72.49           2
3 2025-01-28   Camera  132.66           2
4 2025-01-29   Camera   82.49           7

In [20]:
df.dtypes

Data          datetime64[ns]
Products              object
Price                float64
Quantities             int32
dtype: object

In [21]:
df.to_csv('random_sales.csv',index=False)