In [22]:
import pandas as pd
import numpy as np

In [30]:
np.random.seed(1)
n=100
dates=pd.date_range(start='2025-01-25',periods=n,freq='D')
products=np.random.choice(['Tablet','Camera','Phone'],n)
prices=np.round(np.random.uniform(50.0,200.0,n),2)
quatities=np.random.randint(1,15,n)

data= {
    'Date':dates,
    'Products':products,
    'Price': prices,
    'Quantities':quatities
}

df=pd.DataFrame(data)
df.head()

        Date Products   Price  Quantities
0 2025-01-25   Camera  191.69           2
1 2025-01-26   Tablet  137.98           8
2 2025-01-27   Tablet  185.51           1
3 2025-01-28   Camera   70.62          11
4 2025-01-29   Camera   70.89          11

In [31]:
df.dtypes

Date          datetime64[ns]
Products              object
Price                float64
Quantities             int32
dtype: object

In [34]:
df.to_csv('random_sales.csv',index=False)

In [35]:
df=pd.read_csv('random_sales.csv',parse_dates=['Date'])
df.head()

        Date Products   Price  Quantities
0 2025-01-25   Camera  191.69           2
1 2025-01-26   Tablet  137.98           8
2 2025-01-27   Tablet  185.51           1
3 2025-01-28   Camera   70.62          11
4 2025-01-29   Camera   70.89          11

In [36]:
df.dtypes

Date          datetime64[ns]
Products              object
Price                float64
Quantities             int64
dtype: object