In [56]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\vladigolic\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\vladigolic\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)

In [57]:
import pandas as pd
import numpy as np

In [58]:
np.random.seed(1)
n=100
dates=pd.date_range(start='2025-01-25',periods=n,freq='D')
products=np.random.choice(['Tablet','Camera','Phone','Microphone','Keyboard'],n)
prices=np.round(np.random.uniform(50.0,200.0,n),2)
quatities=np.random.randint(1,15,n)

data= {
    'Date':dates,
    'Products':products,
    'Price': prices,
    'Quantities':quatities
}

df=pd.DataFrame(data)
df.head()

        Date    Products   Price  Quantities
0 2025-01-25  Microphone  147.16           7
1 2025-01-26    Keyboard  103.09          10
2 2025-01-27      Tablet  164.48           7
3 2025-01-28      Camera  103.48           1
4 2025-01-29  Microphone  162.92           1

In [59]:
df.dtypes

Date          datetime64[ns]
Products              object
Price                float64
Quantities             int32
dtype: object

In [60]:
df.to_csv('random_sales.csv',index=False)

In [61]:
df=pd.read_csv('random_sales.csv',parse_dates=['Date'])
df.head()

        Date    Products   Price  Quantities
0 2025-01-25  Microphone  147.16           7
1 2025-01-26    Keyboard  103.09          10
2 2025-01-27      Tablet  164.48           7
3 2025-01-28      Camera  103.48           1
4 2025-01-29  Microphone  162.92           1

In [62]:
df.dtypes

Date          datetime64[ns]
Products              object
Price                float64
Quantities             int64
dtype: object

In [63]:
df.to_excel('sales_data.xlsx')

In [64]:
df.to_json('sales_data.json')

In [65]:
df.shape

(100, 4)

In [66]:
df.describe().round(2)

                      Date   Price  Quantities
count                  100  100.00      100.00
mean   2025-03-15 12:00:00  117.32        7.79
min    2025-01-25 00:00:00   51.35        1.00
25%    2025-02-18 18:00:00   81.13        5.00
50%    2025-03-15 12:00:00  114.10        8.00
75%    2025-04-09 06:00:00  161.21       11.25
max    2025-05-04 00:00:00  197.26       14.00
std                    NaN   42.47        4.03

In [67]:
df.values[:5]

array([[Timestamp('2025-01-25 00:00:00'), 'Microphone', 147.16, 7],
       [Timestamp('2025-01-26 00:00:00'), 'Keyboard', 103.09, 10],
       [Timestamp('2025-01-27 00:00:00'), 'Tablet', 164.48, 7],
       [Timestamp('2025-01-28 00:00:00'), 'Camera', 103.48, 1],
       [Timestamp('2025-01-29 00:00:00'), 'Microphone', 162.92, 1]],
      dtype=object)

In [68]:
df.groupby('Products')['Quantities'].sum()

Products
Camera        186
Keyboard      173
Microphone    106
Phone         124
Tablet        190
Name: Quantities, dtype: int64

In [69]:
df.groupby('Products')['Price'].mean().round(2)

Products
Camera        121.54
Keyboard      115.61
Microphone    129.43
Phone         123.47
Tablet        100.17
Name: Price, dtype: float64