In [1]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\vladigolic\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.1 MB 9.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.2/11.1 MB 11.4 MB/s eta 0:00:01
   ------------------------ --------------- 6.8/11.1 MB 11.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 11.2 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 10.6 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.1-cp313-cp313-win_amd64.whl (43.6 MB)
   ---------------------------------------- 0.0/43.6 MB ? eta -:--:--
   -- ------------------------------------- 2.9/43.6 MB 14.7 MB/s eta 0:00:03
   ---- ----------------------------------- 5.2/43.6 MB 13.9 MB/s eta 0:00:03
   ------- -------------------------------- 7.9/43.6 MB 13.4 MB/s eta 0:00:03
   ---------- ----------------------------- 11.0/43.6 MB 13.5 MB/s eta 0:00:03
   ------------- -------------------------- 14.4/43.6 MB 14.5 MB/s eta 0:00:03
   ---------------- ----------------------- 17.8/43.6 MB 15.0 MB/s eta 0:00:02
   ------------------- -------------------- 21.5/43.6 MB 15.1 MB/s eta 0:00:02
   ---------------------- ----------------- 24.9/43.6 MB 15.3 MB/s eta 0:00:02
   ------------------------- -------------- 27.8/43.6 MB 15.3 MB/s eta 0:00:02
   ---------------------------- ----------- 30.9/43.6 MB 15.2 MB/s eta 0:00:01
   ------------------------------- -------- 34.9/43.6 MB 15.5 MB/s eta 0:00:01
   ---------------------------------- ----- 38.0/43.6 MB 15.5 MB/s eta 0:00:01
   -------------------------------------- - 41.9/43.6 MB 15.6 MB/s eta 0:00:01
   ---------------------------------------- 43.6/43.6 MB 15.2 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.1 threadpoolctl-3.5.0

In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
df=pd.read_csv('vehicles.csv')
df.head(8)

   Age  Gender  Income Favorite Transport
0    5  female     NaN            bicycle
1    8    male     NaN            scooter
2   10  female     NaN            bicycle
3   14    male     NaN              metro
4   16    male     NaN              metro
5   18  female     NaN              metro
6   20    male   200.0            scooter
7   22  female   500.0            scooter